<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Form</title>
</head>

<body>
    <form action="/newProduct" method="post">
        <h1>New Product</h1>

        <input type="text" name="name" placeholder="Name">
        <input type="text" name="company" placeholder="Company">
        <input type="text" name="category" placeholder="Category">
        <input type="number" name="id" placeholder="ID">
        <input type="number" name="count" placeholder="Count">
        <button>Add</button>
    </form>
</body>

</html>