<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Form</title>
</head>
<body>
    <form action="/newProduct" method="post">
        <input type="text" name="name">
        <input type="text" name="company">
        <input type="text" name="category">
        <input type="number" name="id">
        <input type="number" name="count">
        <button>Add</button>
    </form>
</body>
</html>